
<h1>Cookbook Detail for <%= @server %></h1>
<div class="in">                                                                                          
<table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main">
  <tr style="background-color:#d9d8d8; font-size:14px;">
    <td width="179"><strong>Name</strong></td>
    <td width="179"><strong>Versions</strong></td>
  </tr>
<% @cookbooks.each do |cook, data| %>
  <tr>
    <td>
      <a href="/cook_detail/<%= cook %>"><%= cook %> </a> 
      </td><td>
      <% data.each do |ver| %>
        <a href="/cook_detail/<%= @server %>/<%= cook %>/<% ver %>"><%= ver  %> </a> <% end %> 
  </td></tr>
<% end %>
